@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@600&family=Cabin:wght@500&display=swap");


.nav-title {
  display: flex;
  align-items: center;
  padding: 5px;
  color: #ff0266;
  font-size: 20px;
  font-family: "Belanosima", sans-serif;
  font-family: "Cabin", sans-serif;
  text-decoration: none;

}
#basic-nav-dropdown {
  color: #ff0266;
  font-size: 20px;
  font-family: "Belanosima", sans-serif;
  font-family: "Cabin", sans-serif;
}

.drop{
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #ff0266;

}
.drop:hover{
background-color: rgb(120, 120, 120, 0.1);

}